@using DataModels
@model Estudiante

@*<div class="row">
    <div class="col-md-6">
        <ul>
            <li>ID:@Model.UserID</li>          
            <li>Indice Trimestral:@Model.IndiceT</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Carrera:@Model.Carrera</li>
            <li>Indice General:@Model.IndiceG</li>
            @Model.
        </ul>
    </div>

</div>*@
