@{
    ViewBag.Title = "Sistema academico del Intec";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    Dicho sistema tendra la finalidad de simular el autentico sistema academico de la universidad
    en el cual se han tomado en cuenta la parte estudiantil, profesoral y administrativo, lo que son
    seleccion, retiro, asignacion de materias, lista de materias, profesores, etc.
</p>
<p>El grupo esta conformado por:</p>
<p>Frederick Ramírez Luciano 1058402</p>
<p>Edward Garcia 1058237</p>
<p>Jose Alberto Valdez 1057446</p>
