@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    Avenida de Los Proceres #49<br />
    Los Jarides del Norte 10602, Santo Domingo, Republica Dominicana<br />
    <abbr title="Phone">Numero:</abbr>
    809-567-9271
    <abbr title="Fax">Fax:</abbr>
    809-566-3200
    <abbr title="Postal"> </abbr>
    Apartamento postal 342-9 y 492-2

</address>
<address>
    <strong>Correo:</strong>   <a href="mailto:informacion@intec.edu.do">informacion@intec.edu.do</a><br />

</address>