@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema academico</h1>
    <p class="lead">Esta es una version "lite" del sistema academico de seleccion de intec, para ver el verdadero sistema click abajo</p>
    <p><a href="https://procesos.intec.edu.do/" class="btn btn-primary btn-lg">Para Intec &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Informaciones adicionales</h2>
        <p>
            Para las informaciones sobre admision ya sea de grado o postgrado favor dirigirse aqui
        </p>
        <p><a class="btn btn-default" href="https://www.intec.edu.do/admisiones/pruebas-de-admision">Admisión &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pagina de Intec</h2>
        <p>Para mas informacion sobre el intec visitar favor de pulsar el boton el cual lo redireccionará a la paginal principal.</p>
        <p><a class="btn btn-default" href="http://www.intec.edu.do/">Pagina Principal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Moodle o Aula Virtual</h2>
        <p>Esta está diseñada para aquellas materias que cuya asistencia no es obligatoria.</p>
        <p><a class="btn btn-default" href="https://lms.intec.edu.do/">Aula Virtual &raquo;</a></p>
    </div>
</div>