@using DataModels
@model Usuario

<div class="row">
    <div class="col-md-6">
        <ul>
            <li>ID:@Model.UserID</li>          
            <li>Indice Trimestral:@Model.IndiceT</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Carrera:@Model.career</li>
            <li>Indice General:@Model.IndiceG</li>
        </ul>
    </div>

</div>
